.headerNav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 2rem 2rem;

  &-hawlogo {
    width: 5%;
  }

  &-right {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    text-decoration: none;
    list-style: none;
  }
}
