.headerNav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 3.5rem 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;

  &.hidden {
    transform: translateY(-100%);
  }

  &-hawlogo {
    width: 150px;
    margin-top: -4rem;
  }

  &-right {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    text-decoration: none;
    list-style: none;

    li {
      font-size: 1.2rem;
      font-weight: 600;
      color: black;
      cursor: pointer;
      height: fit-content;
      line-height: 1.2;
    }
  }
}
