@use "./../../abstract/variables";

.sectionPara {
  position: relative;
  // margin-top: 200vh;
}
.paragraph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  // display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 10rem;
  z-index: 10;
  font-weight: 200;
  width: 80%;
  line-height: 60px;
  z-index: 100;
  // height: 100vh;
}
.imgsOne {
  position: relative;
  background-color: variables.$color-primery-dark;
  height: 100vh;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.imgsOne img {
  width: 19%;
  height: 380px;
  object-fit: cover;
}
.first {
  bottom: 27%;
  left: 9%;
  position: absolute;
}
.second {
  bottom: 51%;
  left: 40%;
  position: absolute;
}
.third {
  bottom: 27%;
  right: 9%;
  position: absolute;
}
