@use "./../../abstract/variables";
@use "../../base/responsive";

.paragraph {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  @include responsive.respond(smallPhone) {
    height: auto;
    min-height: 100vh;
    padding: 5rem 0;
    z-index: 10000000;
    background-color: black !important;
    overflow: hidden;
    position: relative;
    display: flex;
  }

  &__imageDiv {
    &__image1 {
      width: 350px;
      height: 350px;
      -webkit-object-fit: cover;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0.5;
      -webkit-transition: -webkit-transform 1s ease;
      transition: -webkit-transform 1s ease;
      -o-transition: transform 1s ease;
      transition: transform 1s ease;
      transition: transform 1s ease, -webkit-transform 1s ease;

      @include responsive.respond(smallPhone) {
        width: 120px;
        height: 120px;
      }
      @include responsive.respond(phone) {
        width: 170px;
        height: 170px;
      }
      @include responsive.respond(tablets) {
        width: 210px;
        height: 210px;
      }
      @include responsive.respond(bigTablets) {
        width: 270px;
        height: 270px;
      }
      @include responsive.respond(desktop) {
        width: 300px;
        height: 300px;
      }
      @include responsive.respond(bigDesktop) {
        width: 350px;
        height: 350px;
      }
    }
    &__image2 {
      width: 350px;
      height: 350px;
      position: relative;
      bottom: 15rem;
      margin-left: 12rem;
      margin-right: 12rem;
      -webkit-object-fit: cover;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0.5;
      -webkit-transition: -webkit-transform 1s ease;
      transition: -webkit-transform 1s ease;
      -o-transition: transform 1s ease;
      transition: transform 1s ease;
      transition: transform 1s ease, -webkit-transform 1s ease;
      @include responsive.respond(smallPhone) {
        width: 120px;
        height: 120px;
        margin-left: -0.8rem;
        margin-right: -0.8rem;
        bottom: 14rem;
      }
      @include responsive.respond(phone) {
        width: 170px;
        height: 170px;
        margin-left: 3rem;
        margin-right: 3rem;
      }
      @include responsive.respond(tablets) {
        width: 210px;
        height: 210px;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
      }
      @include responsive.respond(bigTablets) {
        width: 270px;
        height: 270px;
        margin-left: 4rem;
        margin-right: 4rem;
      }
      @include responsive.respond(desktop) {
        width: 300px;
        height: 300px;
        margin-left: 8rem;
        margin-right: 8rem;
      }
      @include responsive.respond(bigDesktop) {
        width: 350px;
        height: 350px;
        margin-left: 8rem;
        margin-right: 8rem;
      }
    }
    &__image3 {
      width: 350px;
      height: 350px;
      -webkit-object-fit: cover;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0.5;
      -webkit-transition: -webkit-transform 1s ease;
      transition: -webkit-transform 1s ease;
      -o-transition: transform 1s ease;
      transition: transform 1s ease;
      transition: transform 1s ease, -webkit-transform 1s ease;
      @include responsive.respond(smallPhone) {
        width: 120px;
        height: 120px;
        margin-top: 4rem;
      }
      @include responsive.respond(phone) {
        width: 170px;
        height: 170px;
      }
      @include responsive.respond(tablets) {
        width: 210px;
        height: 210px;
      }
      @include responsive.respond(bigTablets) {
        width: 270px;
        height: 270px;
      }
      @include responsive.respond(desktop) {
        width: 300px;
        height: 300px;
      }
      @include responsive.respond(bigDesktop) {
        width: 350px;
        height: 350px;
      }
    }
  }
  &__textDiv {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(244, 244, 244);
    text-align: center;
    z-index: 100000000000000;
    font-weight: 200;
    padding: 2rem;
    font-size: 2.5rem;
    line-height: 70px;
    -webkit-min-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    overflow: hidden;

    & div {
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }

    @include responsive.respond(smallPhone) {
      font-size: 1.4rem;
      line-height: 2.3rem;
      top: 40%;
      padding: 0rem;
      min-width: 350px;
    }

    @include responsive.respond(phone) {
      font-size: 2.3rem;
      line-height: normal;
      padding: 0rem;
      min-width: 550px;
      opacity: 0;
    }

    @include responsive.respond(tablets) {
      font-size: 2.7rem;
      line-height: normal;
      padding: 0rem;
      min-width: 650px;
    }

    @include responsive.respond(bigTablets) {
      font-size: 3rem;
      line-height: normal;
      padding: 0rem;
      min-width: 850px;
    }
    @include responsive.respond(desktop) {
      font-size: 3rem;
      line-height: normal;
      padding: 0rem;
      min-width: 1000px;
    }
    @include responsive.respond(bigDesktop) {
      font-size: 3.5rem;
      line-height: normal;
      padding: 0rem;
      min-width: 1200px;
    }
    @media (min-width: 1600px) {
      font-size: 3rem;
      line-height: normal;
      padding: 0rem;
      min-width: 1800px;
    }
  }
}

.no-transition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.paraMobo {
  background-color: black;
  height: fit-content;
  overflow: hidden;
  @include responsive.respond(smallPhone) {
  }
}
