@use "./../../abstract/variables";

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.realstories {
  overflow: hidden;
  height: 130vh;
  background-color: black;
  position: relative;
  // top: -40rem;
  // border: 1px solid red;

  &-title {
    font-size: 11rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: right;
    color: white;
    padding-top: 3rem;
  }

  &-rot {
    transform: skew(0.02turn, -5deg);
    padding-top: 8rem;
    padding-bottom: 5rem;
  }
}
.realstories-slide {
  display: flex;
  gap: 1rem;
  width: calc(200% + 3rem);

  // Rotate the container
  animation: slide 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.realstories-slide img {
  flex: 0 0 auto;
  height: 25rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
