@use "./../../abstract/variables";
@use "../../base/responsive";

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.realstories {
  overflow: hidden;
  height: auto;
  padding: 2rem 0;
  background-color: black;
  position: relative;
  // top: -40rem;
  // border: 1px solid red;

  &-title {
    font-size: 11rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: right;
    color: white;
    padding-top: 3rem;

    @include responsive.respond(desktop) {
      font-size: 9rem;
    }
    @include responsive.respond(bigTablets) {
      font-size: 8rem;
    }
    @include responsive.respond(tablets) {
      font-size: 6rem;
    }
    @include responsive.respond(phone) {
      font-size: 4rem;
    }
    @include responsive.respond(smallPhone) {
      font-size: 3rem;
    }
  }

  &-rot {
    transform: skew(0.02turn, -5deg);
    padding-top: 6rem;
    padding-bottom: 5rem;

    @include responsive.respond(tablets) {
      transform: skew(0.01turn, -3deg);
      padding-top: 4rem;
    }
    @include responsive.respond(phone) {
      transform: skew(0.005turn, -2deg);
      padding-top: 2rem;
    }
    @include responsive.respond(smallPhone) {
      transform: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
.realstories-slide {
  display: flex;
  gap: 1rem;
  width: calc(200% + 3rem);

  animation: slide 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  @include responsive.respond(tablets) {
    animation: slide 25s linear infinite;
  }
  @include responsive.respond(phone) {
    animation: slide 20s linear infinite;
    width: calc(300% + 3rem);
  }
}

.realstories-slide video {
  flex: 0 0 auto;
  // height: 25rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  // color: black;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;
  border: 2px solid black;

  &:hover {
    transform: scale(1.1);
  }

  @include responsive.respond(bigTablets) {
    height: 20rem;
    width: 16rem;
  }
  @include responsive.respond(tablets) {
    height: 18rem;
    width: 14rem;
  }
  @include responsive.respond(phone) {
    height: 15rem;
    width: 12rem;
    margin: 0.5rem;
  }
  @include responsive.respond(smallPhone) {
    height: 12rem;
    width: 10rem;
    margin: 0.3rem;
  }
}
