@use "../../../base/responsive";

.serviceDetail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  background-color: black;
  z-index: 10000000000000000000;

  &--active {
    .serviceDetail__content {
      opacity: 1;
    }
  }

  &__body {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000000;
    background-color: black;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    transition: -webkit-transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    -o-transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97),
      -webkit-transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    -webkit-overflow-scrolling: touch;
    min-height: 100vh;
  }

  &__content {
    width: 100%;
    padding: 3rem 3rem 0 3rem;
    position: relative;
    opacity: 0;
    overflow: visible;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    max-height: fit-content;
    z-index: 100000000;
    background-color: black;

    @include responsive.respond(smallPhone) {
    }
    @include responsive.respond(phone) {
    }
    @include responsive.respond(tablets) {
    }
    @include responsive.respond(bigTablets) {
    }
    @include responsive.respond(desktop) {
    }
    @include responsive.respond(bigDesktop) {
    }
  }

  &__title {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    -webkit-animation: fadeIn2 1s ease-in-out forwards;
    animation: fadeIn2 1s ease-in-out forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    opacity: 0;
    padding: 0 4.5rem;

    @media (max-width: 1200px) {
      font-size: 8rem;
    }

    @media (max-width: 992px) {
      font-size: 6rem;
    }

    @media (max-width: 768px) {
      font-size: 4rem;
    }

    @media (max-width: 576px) {
      font-size: 3rem;
    }
  }

  &-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20rem;
    list-style: none;
    margin: 4rem 0;

    & li {
      color: rgb(255, 255, 255);
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &.active {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }
    }
  }

  &-show {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-item {
      width: 100%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      -webkit-transition: -webkit-transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
      transition: -webkit-transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
      -o-transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
      transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
      transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97),
        -webkit-transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.service-details-container {
  color: white;
  display: flex;
  padding: 2rem 7.5rem;
  // gap: 8rem;
  width: 100%;
  justify-content: space-between;

  @include responsive.respond(desktop) {
    gap: 3rem;
  }

  @media (max-width: 1200px) {
    gap: 4rem;
    padding: 2rem 5rem;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 3rem;
  }

  @media (max-width: 576px) {
    padding: 2rem 1.5rem;
    gap: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    flex: 1;
    @include responsive.respond(bigDesktop) {
      flex: 0.9;
    }
  }

  &__image {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    width: fit-content;

    @include responsive.respond(tablets) {
      justify-content: center;
      width: 100%;
    }
    @include responsive.respond(phone) {
      justify-content: center;
      width: 100%;
    }
    @include responsive.respond(smallPhone) {
      justify-content: center;
      width: 100%;
    }
  }
}

.service-title {
  font-size: 4.5rem;
  text-align: left;
  line-height: 1.2;

  @include responsive.respond(smallPhone) {
    font-size: 2rem;
  }

  @include responsive.respond(phone) {
    font-size: 2.5rem;
  }

  @include responsive.respond(tablets) {
    font-size: 3rem;
    text-align: center;
  }

  @include responsive.respond(bigTablets) {
    font-size: 2.5rem;
  }

  @include responsive.respond(desktop) {
    font-size: 2.8rem;
  }

  @include responsive.respond(bigDesktop) {
    font-size: 4rem;
  }
}

.service-subtitle {
  margin-top: 1rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 100;
  text-align: left;
}

.service-content-wrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 0 6rem;
}

.service-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  @include responsive.respond(smallPhone) {
  }

  @include responsive.respond(phone) {
  }

  @include responsive.respond(tablets) {
    max-width: 400px;
  }

  @include responsive.respond(bigTablets) {
    max-width: 400px;
  }

  @include responsive.respond(desktop) {
    max-width: 400px;
  }

  @include responsive.respond(bigDesktop) {
    max-width: 450px;
  }
}

.service-content {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  background-color: black;
}
.service-description-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: 800px;
}
.service-description1,
.service-description2,
.service-description3 {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: justify;
  text-justify: inter-word;
  color: #fff;
  opacity: 0.9;
  font-weight: 100;

  @include responsive.respond(smallPhone) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @include responsive.respond(phone) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @include responsive.respond(tablets) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @include responsive.respond(bigTablets) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @include responsive.respond(desktop) {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  @include responsive.respond(bigDesktop) {
    font-size: 1.3rem;
    line-height: 1.2;
  }
}

.service-description2 {
  text-indent: clamp(2rem, 4vw, 5rem);
}

.service__navigation {
  margin-top: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  animation: slideUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
  padding: 2rem 7.5rem;
  width: 100%;

  @media (max-width: 1200px) {
    padding: 2rem 5rem;
  }

  @media (max-width: 992px) {
    padding: 2rem 3rem;
  }

  @media (max-width: 576px) {
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .nav-btn {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
    padding: 0.5rem 1rem;
    transition: color 0.3s;

    &:hover {
      color: #fff;
    }
  }
}
.serviceDetail-body-scroll {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
