@use "./../../abstract/variables";

.logo-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  background-color: variables.$color-primery-dark;
  padding: 40px;

  &:hover .logo-card {
    opacity: 0.4;
  }

  .logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$color-gray-dark;
    height: 10rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;

    &:hover {
      opacity: 1;
    }

    .logo-text {
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
