@use "./../../abstract/variables";
@use "./../../base/responsive" as responsive;

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 180vh;
  padding-top: 3rem;

  @include responsive.respond(smallPhone) {
    height: 120vh;
    padding-top: 1.5rem;
  }

  @include responsive.respond(phone) {
    height: 140vh;
    padding-top: 2rem;
  }

  @include responsive.respond(tablets) {
    height: 160vh;
  }

  &-title {
    font-size: 11rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: right;
    color: white;
    padding-top: 3rem;

    @include responsive.respond(smallPhone) {
      font-size: 4rem;
      padding-top: 1.5rem;
    }

    @include responsive.respond(phone) {
      font-size: 5rem;
      padding-top: 2rem;
    }

    @include responsive.respond(tablets) {
      font-size: 7rem;
    }

    @include responsive.respond(bigTablets) {
      font-size: 9rem;
    }
  }

  &-rot {
    transform: skew(0.02turn, -5deg);
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include responsive.respond(smallPhone) {
      padding-top: 3rem;
      gap: 2rem;
    }

    @include responsive.respond(phone) {
      padding-top: 4rem;
      gap: 3rem;
    }
  }
}

.logo-slide {
  display: flex;
  gap: 1rem;
  width: calc(200% + 3rem);
  animation: slideLeft 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  &.reverse {
    animation: slideRight 30s linear infinite;
  }
}

.logo-slide div {
  flex: 0 0 auto;
  height: 23rem;
  width: 19rem;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;

  @include responsive.respond(smallPhone) {
    height: 15rem;
    width: 12rem;
  }

  @include responsive.respond(phone) {
    height: 18rem;
    width: 15rem;
  }

  @include responsive.respond(tablets) {
    height: 20rem;
    width: 16rem;
  }

  @include responsive.respond(bigTablets) {
    height: 18rem;
    width: 14rem;
  }

  @include responsive.respond(desktop) {
    height: 16rem;
    width: 13rem;
  }

  @include responsive.respond(bigDesktop) {
    height: 20rem;
    width: 16rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}
