@use "./../../abstract/variables";
@use "./../../base/responsive" as responsive;

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 3rem;

  @include responsive.respond(smallPhone) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 1.5rem;
  }

  @media screen and (min-width: 400px) and (max-width: 450px) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 1.8rem;
  }

  @include responsive.respond(phone) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 2rem;
  }

  @include responsive.respond(tablets) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  @include responsive.respond(tablets) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  &-title {
    font-size: 10rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: right;
    color: white;
    padding-top: 3rem;
    padding-right: 2rem;

    @include responsive.respond(smallPhone) {
      font-size: 4rem;
      padding-top: 1.5rem;
    }

    @include responsive.respond(phone) {
      font-size: 5rem;
      padding-top: 2rem;
    }

    @include responsive.respond(tablets) {
      font-size: 7rem;
    }

    @include responsive.respond(bigTablets) {
      font-size: 9rem;
    }
  }

  &-text {
    width: 100%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    margin-left: auto;
    overflow: hidden;

    &-text.animate {
      -webkit-transform: translateY(10rem);
          -ms-transform: translateY(10rem);
              transform: translateY(10rem);
    }

    & div {
      -webkit-transition: -webkit-transform 0.5s ease-out;
      transition: -webkit-transform 0.5s ease-out;
      -o-transition: transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
    }
  }

  &-rot {
    -webkit-transform: skew(0.02turn, -5deg);
        -ms-transform: skew(0.02turn, -5deg);
            transform: skew(0.02turn, -5deg);
    padding-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;

    @include responsive.respond(smallPhone) {
      padding-top: 3rem;
      gap: 2rem;
    }

    @include responsive.respond(phone) {
      padding-top: 4rem;
      gap: 3rem;
    }
  }
}

.logo-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: calc(200% + 3rem);
  -webkit-animation: slideRight 30s linear infinite;
          animation: slideRight 30s linear infinite;

  &:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }

  &.reverse {
    -webkit-animation: slideRight 30s linear infinite;
            animation: slideRight 30s linear infinite;
    &:hover {
      -webkit-animation-play-state: paused;
              animation-play-state: paused;
    }
  }
}

.logo-slide img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 19rem;
  width: 19rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

  @include responsive.respond(smallPhone) {
    height: 12rem;
    width: 12rem;
  }

  @include responsive.respond(phone) {
    height: 15rem;
    width: 15rem;
  }

  @include responsive.respond(tablets) {
    height: 16rem;
    width: 16rem;
  }

  @include responsive.respond(bigTablets) {
    height: 14rem;
    width: 14rem;
  }

  @include responsive.respond(desktop) {
    height: 13rem;
    width: 13rem;
  }

  @include responsive.respond(bigDesktop) {
    height: 16rem;
    width: 16rem;
  }

  &:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.buttondivPortfolio {
  margin-top: 10rem;
  text-align: center;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  @include responsive.respond(smallPhone) {
    margin-top: auto;
    padding: 5rem;
    button {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
    }
  }

  @include responsive.respond(phone) {
    margin-top: auto;

    padding: 6rem;
    button {
      font-size: 0.9rem;
      padding: 0.6rem 1.2rem;
    }
  }

  @include responsive.respond(tablets) {
    margin-top: auto;

    padding: 8rem;
    button {
      font-size: 1rem;
      padding: 0.7rem 1.4rem;
    }
  }

  @include responsive.respond(bigTablets) {
    margin-top: auto;

    padding: 9rem;
  }

  @include responsive.respond(desktop) {
    margin-top: auto;

    padding: 10rem;
  }

  @include responsive.respond(bigDesktop) {
    margin-top: auto;

    padding: 12rem;
  }
}

.doubleline-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;

  @include responsive.respond(tablets) {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  @include responsive.respond(phone) {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  @include responsive.respond(smallPhone) {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.doubleline-slide video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20rem;
  margin-top: 2rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border: 2px solid black;
  -o-object-fit: cover;
     object-fit: cover;
  &:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  @include responsive.respond(bigTablets) {
    width: 16rem;
  }
  @include responsive.respond(tablets) {
    width: 16rem;
  }
  @include responsive.respond(phone) {
    width: 15rem;
    margin: 0.5rem;
  }
  @include responsive.respond(smallPhone) {
    width: 15rem;
    margin: 0.3rem;
  }
}
.swiper {
  width: 100% !important;
}
.slider-item {
  -webkit-animation: slideLinear 30s linear infinite;
          animation: slideLinear 30s linear infinite; /* Adjust duration as needed */
}

@-webkit-keyframes slideLinear {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); /* Adjust based on the number of items */
  }
}

@keyframes slideLinear {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); /* Adjust based on the number of items */
  }
}