@use "./../../abstract/variables";
@use "../../base/responsive";

.meet {
  background-color: variables.$color-primery-light;
  min-height: 60vh;
  position: relative;

  @include responsive.respond(desktop) {
    min-height: 38vh;
  }

  @include responsive.respond(bigTablets) {
    min-height: 38vh;
  }

  // @include responsive.respond(bigTablets) {
  //   min-height: 65vh;
  // }


  @media screen and (width: 1024px) and (height: 1366px) {
    min-height: 45vh;
  }


  @include responsive.respond(tablets) {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-bottom: 2rem;
  }

  @include responsive.respond(phone) {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-bottom: 2rem;
  }

  @include responsive.respond(smallPhone) {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-bottom: 2rem;
  }

  &-head {
    font-size: 6rem;
    padding-left: 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;

    @include responsive.respond(bigTablets) {
      font-size: 5.5rem;
      // padding-left: 6rem;
    }
    @include responsive.respond(tablets) {
      font-size: 4.5rem;
      padding-left: 0;
      text-align: center;
      padding-top: 3rem;
    }
    @include responsive.respond(desktop) {
      font-size: 5.5rem;
      // padding-left: 6rem;
      padding-top: 3rem;
    }

    @include responsive.respond(phone) {
      font-size: 3.5rem;
      padding-top: 2.5rem;
    }

    @include responsive.respond(smallPhone) {
      font-size: 2rem !important;
      padding-top: 1.5rem;
      padding-left: 0;
      padding-bottom: 1.5rem;
      text-align: center;
    }
  }
}
.swiper {
  width: 85%;
  height: 100%;
  @include responsive.respond(desktop) {
    width: 90%;
    height: 38vh;
  }

  @include responsive.respond(bigTablets) {
    width: 90%;
    height: 35vh;
  }

  @media screen and (width: 1024px) and (height: 1366px) {
    height: 30vh;
  }

  @include responsive.respond(tablets) {
    width: 95%;
    height: 38vh;
  }

  @include responsive.respond(phone) {
    width: 95%;
  }

  @include responsive.respond(smallPhone) {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 0rem;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    height: fit-content !important;
  }
}

.swiper-container {
  padding: 0 20px;
}

@media (min-width: 576px) {
  .swiper-container {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .swiper-container {
    padding: 0 40px;
  }
}

.team-member {
  // text-align: center;
  min-height: 20rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.8rem;
  // border: 3px solid #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  justify-content: start;
  text-align: start;
  position: relative;
  // background-color: #fde6de;
  background: transparent;
  transition: filter 0.3s ease;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    @include responsive.respond(smallPhone) {
      object-fit: contain;
      // border-radius: 0.8rem;
    }
  }

  &:hover {
    img {
      filter: grayscale(0%);
    }
  }

  @include responsive.respond(bigTablets) {
    min-height: 20rem;
  }

  @include responsive.respond(tablets) {
    min-height: 20rem;
    // width: 82%;

  }

  @include responsive.respond(phone) {
    min-height: 16rem;
    width: 82%;
// padding-left: 3rem;
  }

  @include responsive.respond(smallPhone) {
    min-height: 14rem;
    width: 82%;
  }
  @media (max-width: 376px) {
    min-height: 9rem;
    width: 82%;
  }
  @include responsive.respond(desktop) {
    min-height: 16rem;
        width: 100%;
  }

}

.swiper-slide {
  text-align: start;
height: auto;

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: -3rem;


    @include responsive.respond(tablets) {
      font-size: 1rem;
    }
    @include responsive.respond(bigDesktop) {
      font-size: 1.2rem;
    }

    @include responsive.respond(phone) {
      font-size: 1.2rem;
      text-align: center;
    }

    @include responsive.respond(smallPhone) {
      font-size: 1rem;
      margin-top: -4rem;
      text-align: center;
    }
  }

  p {
    font-size: 1rem;
    color: #838383;
    // margin-top: 0.5rem;

    @include responsive.respond(tablets) {
      font-size: 1.1rem;
    }

    @include responsive.respond(phone) {
      font-size: 1rem;
      text-align: center;
    }

    @include responsive.respond(smallPhone) {
      font-size: 0.8rem;
      white-space: nowrap;
      // margin-left: 2.8rem;
      text-align: center;
// margin-bottom: 4.2rem;
// margin-top: 2rem;
    }
  }

  &:hover {
    .team-member img {
      filter: grayscale(0%);
      // scale: 1.1;
    }

    ~ .swiper-slide .team-member img {
      filter: grayscale(100%);
    }
  }

  @include responsive.respond(tablets) {
    height: fit-content;
  }

  @include responsive.respond(smallPhone) {
    height: fit-content;
  }
}
