@use "./../../abstract/variables";
@use "../../base/responsive";

.bird {
  height: 350vh;
  background-color: variables.$color-primery-light;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 0;
  scroll-snap-align: start;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: 100vw;
  @include responsive.respond(phone) {
    height: 300vh;
  }

  @include responsive.respond(smallPhone) {
    height: 200vh;
  }

  @include responsive.respond(tablets) {
    height: 200vh;
  }

  @include responsive.respond(bigTablets) {
    height: 200vh;
  }
  &-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 97vh;
    right: -45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 1;
    @include responsive.respond(smallPhone) {
      height: 20vh;
    }

    @media screen and (min-width: 768px) and (max-width: 770px) and (max-height: 1024px) {
      top: 30vh;
      right: -20rem;
    }

    @media screen and (min-width: 820px) and (max-width: 825px) and (max-height: 1180px) {
      top: 30vh;
      right: -20rem;
    }

    @media screen and (min-width: 1024px) and (max-width: 1025px) and (max-height: 1366px) {
      top: 30vh;
      right: -20rem;
    }
  }

  &-image {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;

    @media screen and (min-width: 768px) and (max-width: 770px) and (max-height: 1024px) {
    }

    @media screen and (min-width: 820px) and (max-width: 825px) and (max-height: 1180px) {
    }

    @media screen and (min-width: 1024px) and (max-width: 1025px) and (max-height: 1366px) {
    }

    @include responsive.respond(bigDesktop) {
      top: -15rem;
      right: -50rem;
    }
    @include responsive.respond(desktop) {
      top: -25rem;
      right: -40rem;
    }

    @include responsive.respond(bigTablets) {
      top: 12rem;
      right: -28rem;
    }

    @include responsive.respond(tablets) {
      top: -10rem;
      right: -20rem;
      scale: 1.4;
    }

    @include responsive.respond(phone) {
      top: 0rem;
      right: -18rem;
    }

    @include responsive.respond(smallPhone) {
      top: 2rem;
      right: -13rem;
    }
  }
}
.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5rem;
  font-weight: 100;
  z-index: 2;

  & h1 {
    font-size: 3rem;
    font-weight: 100;
    margin-top: -20vh;
    @include responsive.respond(phone) {
      font-size: 2.5rem;
    }
  }
}
@media (max-width: 575.98px) {
  .caption h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30%;
    will-change: contents;
  }
}

.birdMobo {
  height: 100vh;
  // overflow: hidden;
  position: sticky;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  scroll-snap-align: start;
  overflow: hidden;
  width: 100vw;
  background-color: white;

  &-containerMobo {
    width: 100%;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    @include responsive.respond(smallPhone) {
      height: 20vh;
    }
  }
}
.captionMobo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5rem;
  font-weight: 100 !important;
  text-align: center;

  & h1 {
    font-weight: 100;
    font-size: 2.5rem;
  }
}
.bird-imageMobo {
  position: relative;
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
  top: 19rem;
  right: -12rem;

  @media screen and (min-width: 500px) and (max-width: 600px) {
    top: 17rem;
    right: -18rem;
  }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    top: 17rem;
    right: -20rem;
  }
}

@media (max-width: 575.98px) {
  .captionMobo p {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30%;
  }
}
