// Sass/page/Section1/_bird.scss
@use "./../../abstract/variables";
@use "../../base/responsive";

.bird {
  height: 100vh;
  background-color: variables.$color-primery-light;
  align-items: center;
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  scroll-snap-align: start;
  overflow: hidden;
  width: 100vw;
  @include responsive.respond(phone) {
    height: 100vh;
  }

  @include responsive.respond(smallPhone) {
    height: 100vh;
  }

  @include responsive.respond(tablets) {
    height: 100vh;
  }

  @include responsive.respond(bigTablets) {
    height: 100vh;
  }
  &-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include responsive.respond(smallPhone) {
      height: 20vh;
    }
  }
}
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-weight: 100;

  & p {
    height: 30%;
    font-size: 3rem;

    @include responsive.respond(phone) {
      font-size: 2.5rem;
    }
  }
}
@media (max-width: 575.98px) {
  .caption p {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30%;
  }
}
.animate-bird {
  animation: flyBird 1s cubic-bezier(0.79, 0.07, 1, 0.69) forwards;
}

.animate-bird-reverse {
  animation: flyBirdReverse 1s cubic-bezier(0.79, 0.07, 1, 0.69) forwards;
}

@keyframes flyBird {
  0% {
    transform: translateY(0) scale(1);
  }

  100% {
    transform: translate(-10rem, -50rem) scale(10);
  }
}

@keyframes flyBirdReverse {
  0% {
    transform: translate(-10rem, -50rem) scale(10);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}
