// @use "../abstract/variables";
@use "../../base/responsive" as responsive;

.about {
  height: fit-content;
  padding: 0 5rem;

  & .home-text {
    height: 25rem;
    overflow: hidden;
    width: 80%;

    @include responsive.respond(bigTablets) {
      font-size: 65px;
    }
  }
  &-scroll-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 2rem;
    position: relative;
    // padding: 0 variables.$margin;

    &-left {
      &-content {
        position: sticky;
        top: 10rem;
        left: 0;
        background-image: url("/UpdatedUIsky-17.svg");
        background-position: bottom;
        background-repeat: no-repeat;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      padding: 13rem 0;
      &-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 30rem;
        width: 100%;
        overflow: hidden;

        & .img-container {
          flex: 1;
          width: 100%;
          background-color: rgb(194, 194, 194);
          border-radius: 1rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        & .buttons {
          display: flex;
          height: fit-content;
          justify-content: space-between;

          align-items: center;
          gap: 2rem;
        }
      }
    }
  }

  &-para-container {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    &-right {
      flex: 1;
      text-align: left;
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
}

.animate-mount {
  opacity: 0;
  animation: mountAnimation 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes mountAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-mob {
  position: relative;
  @include responsive.respond(bigTablets) {
    text-align: left;
  }
  @include responsive.respond(smallPhone) {
    margin-bottom: 0;
  }
}
.about-scroll-mob {
  background-color: white;
  &-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 6px;
    @include responsive.respond(smallPhone) {
    }

    & .home-text {
      width: 100%;
      height: fit-content;
      padding: 0;
      margin: 2rem 0;
      z-index: -1;
      background-color: white;
      @include responsive.respond(smallPhone) {
        font-size: 2.8rem;
        width: 75%;
        // margin-top: 3.3rem;
        font-weight: 400;
      }
      @include responsive.respond(bigTablets) {
        display: flex;
        align-items: start;
        justify-content: start;
      }
    }
    &-item {
      position: sticky;
      top: 4rem;
      left: 0;
      z-index: 1;
      background-color: white;

      @include responsive.respond(smallPhone) {
        top: 2rem;
      }
      @include responsive.respond(bigTablets) {
        padding: 4px;
      }
    }
  }

  &-right-content {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    & .img-container {
      width: 100%;
      height: 20rem;
      padding: 0 1rem;
      border-radius: 1rem;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }
}
.about-scroll-mob-container-left {
  position: relative;
  z-index: 2;

  background-color: white;
}
.about-scrolll-mob-left {
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  z-index: 2;
  padding-top: 1rem;
}
.about-mob-para {
  line-height: 1.5;
  background-color: white;
  height: fit-content;
  @include responsive.respond(smallPhone) {
    font-size: 13px;
  }
  @include responsive.respond(bigTablets) {
    font-size: 2rem;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .main-swiperabout-scroll-mob-container {
    padding: 15px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 450px) {
  .about-scroll-mob-container {
  }
}
