@use "./../../abstract/variables";
@use "../../base/responsive" as responsive;

.get-in-touch {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  position: relative;
  flex-direction: column;
  @include responsive.respond(bigTablets) {
    min-height: 50vh;
  }
  @include responsive.respond(tablets) {
    min-height: 40vh;
  }
  @include responsive.respond(phone) {
    min-height: 40vh;
  }
  @include responsive.respond(smallPhone) {
    min-height: 40vh !important;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    padding-top: 2rem;
    height: 100%;

    @include responsive.respond(phone) {
      padding: 1.5rem;
    }
  }
  &__title {
    font-size: 12.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: right;
    @include responsive.respond(bigDesktop) {
      font-size: 12rem;
    }
    @include responsive.respond(desktop) {
      font-size: 9.5rem;
    }
    @include responsive.respond(bigTablets) {
      font-size: 8rem;
    }
    @include responsive.respond(tablets) {
      font-size: 7rem;
    }
    @include responsive.respond(phone) {
      font-size: 5rem;
    }
    @include responsive.respond(smallPhone) {
      font-size: 3.5rem;
      margin-bottom: -6rem;
    }
  }

  &__content {
    display: flex;
    gap: 23rem;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;

    @include responsive.respond(bigDesktop) {
      gap: 20rem;
    }
    @include responsive.respond(desktop) {
      gap: 15rem;
    }
    @include responsive.respond(bigTablets) {
      gap: 10rem;
    }
    @include responsive.respond(tablets) {
      gap: 0rem;
    }
    @include responsive.respond(phone) {
      flex-direction: column;
      gap: 0rem;
      padding: 0 1rem;
    }
    @include responsive.respond(smallPhone) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-left: -3rem;

    img {
      width: 600px;
      height: auto;
      position: relative;

      @include responsive.respond(bigDesktop) {
        width: 480px;
      }
      @include responsive.respond(desktop) {
        width: 420px;
      }
      @include responsive.respond(bigTablets) {
        width: 350px;
      }
      @include responsive.respond(tablets) {
        width: 300px;
        bottom: 70px;
      }
      @include responsive.respond(phone) {
        width: 300px;
        bottom: 70px;
      }
      @include responsive.respond(smallPhone) {
        width: 350px;
        bottom: -30px;
      }
    }

    span {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  &-about {
    display: flex;
    gap: 10rem;
    position: relative;
    margin-right: 10%;

    @include responsive.respond(bigDesktop) {
      gap: 2rem;
      margin-right: 8%;
    }

    @include responsive.respond(desktop) {
      gap: 6rem;
      margin-right: 6%;
    }
    @include responsive.respond(bigTablets) {
      gap: 6rem;
      margin-right: 5%;
    }

    @include responsive.respond(tablets) {
      gap: 5rem;
    }
    @include responsive.respond(phone) {
      gap: 6rem;
      // max-width: 400px;
      bottom: 90px;
      margin-right: 0;
    }

    @include responsive.respond(smallPhone) {
      gap: 2rem;
      bottom: 20px;
      height: 110px;
      margin-right: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 10rem;
    position: relative;
    height: 300px;

    @include responsive.respond(bigDesktop) {
      width: 12rem;
      gap: 2rem;
    }

    @include responsive.respond(desktop) {
      width: fit-content;
      gap: 1.8rem;
      white-space: nowrap;
    }

    @include responsive.respond(bigTablets) {
      width: fit-content;
      gap: 1.6rem;
      white-space: nowrap;
    }

    @include responsive.respond(tablets) {
      width: fit-content;
      gap: 1.4rem;
      white-space: nowrap;
      height: 200px;
    }

    @include responsive.respond(phone) {
      width: 8rem;
      gap: 1.2rem;
      height: 260px;
    }

    @include responsive.respond(smallPhone) {
      width: fit-content;
      white-space: nowrap;
      gap: 1rem;
      height: 150px;
    }

    a {
      color: #000;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 600;

      @include responsive.respond(tablets) {
        font-size: 1.1rem;
      }

      @include responsive.respond(phone) {
        font-size: 1.2rem;
      }

      @include responsive.respond(smallPhone) {
        font-size: 0.9rem;
      }

      @include responsive.respond(bigDesktop) {
        font-size: 1.3rem !important;
      }
      @include responsive.respond(bigTablets) {
        font-size: 1.2rem;
      }
      @include responsive.respond(desktop) {
        font-size: 1.2rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      @include responsive.respond(tablets) {
        font-size: 1.1rem;
      }

      @include responsive.respond(phone) {
        font-size: 1.2rem;
      }

      @include responsive.respond(smallPhone) {
        font-size: 0.9rem;
      }
      @include responsive.respond(bigDesktop) {
        font-size: 1.3rem !important;
      }
      @include responsive.respond(bigTablets) {
        font-size: 1.1rem;
      }
      @include responsive.respond(desktop) {
        font-size: 1.2rem;
      }
    }
  }
  &__email {
    font-size: 1.3rem;
    font-weight: 600;
    color: #828283;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @include responsive.respond(smallPhone) {
      display: none;
    }
  }

  &__phone {
    font-size: 1.3rem;
    font-weight: 600;
    color: #828283;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @include responsive.respond(bigDesktop) {
      font-size: 1.3rem;
    }

    @include responsive.respond(desktop) {
      font-size: 1.2rem;
    }
    @include responsive.respond(bigTablets) {
      font-size: 1.1rem;
    }

    @include responsive.respond(tablets) {
      font-size: 1.1rem;
      position: absolute;
      bottom: 0;
      // right: 0;
      left: 0%;
    }

    @include responsive.respond(phone) {
      font-size: 1.2rem;
    }

    @include responsive.respond(smallPhone) {
      display: none;
    }
  }

  &__address {
    width: fit-content;
    position: relative;
    height: 300px;
    @include responsive.respond(tablets) {
      height: 200px;
    }
    @include responsive.respond(phone) {
      height: 260px;
      // bottom: 100px;
    }

    @include responsive.respond(smallPhone) {
      height: 150px;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: 600;

      @include responsive.respond(tablets) {
        font-size: 1.1rem;
      }
      @include responsive.respond(phone) {
        font-size: 1.2rem;
      }
      @include responsive.respond(smallPhone) {
        font-size: 0.9rem;
      }
      @include responsive.respond(bigDesktop) {
        font-size: 1.3rem !important;
      }
      @include responsive.respond(bigTablets) {
        font-size: 1.1rem;
      }
      @include responsive.respond(desktop) {
        font-size: 1.2rem;
      }
    }

    p {
      font-size: 1.3rem;

      color: #000000;
      font-weight: 600;
    }
    .addressnote {
      font-size: 1.3rem;
      font-weight: 600;
      white-space: nowrap;

      @include responsive.respond(tablets) {
        font-size: 1.1rem;
      }

      @include responsive.respond(phone) {
        font-size: 1.2rem;
      }

      @include responsive.respond(smallPhone) {
        font-size: 0.9rem;
      }

      @include responsive.respond(bigDesktop) {
        font-size: 1.3rem !important;
      }
      @include responsive.respond(bigTablets) {
        font-size: 1.1rem;
      }
      @include responsive.respond(desktop) {
        font-size: 1.2rem;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__smContact {
    display: none; // Hidden by default for larger screens

    @include responsive.respond(smallPhone) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      bottom: 80px;

      span {
        font-size: 0.9rem;
        font-weight: 600;
        color: #828283;
        cursor: pointer;
        text-align: center;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.social-media-container {
  background: black;
  height: 10vh;
  display: flex;
  align-items: center;
  width: 100%;

  @include responsive.respond(phone) {
    height: auto;
    padding: 1.5rem 0;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    padding: 0 2rem;
    position: relative;
    left: 8%;

    @include responsive.respond(phone) {
      gap: 1.5rem;
    }
    @include responsive.respond(smallPhone) {
      gap: 1rem;
    }

    @include responsive.respond(tablets) {
      justify-content: center;
    }
  }
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.social-media-icon {
  color: white;
  font-size: 2.5rem;

  @include responsive.respond(tablets) {
    font-size: 2rem;
  }
  @include responsive.respond(phone) {
    font-size: 1.8rem;
  }
  @include responsive.respond(smallPhone) {
    font-size: 1.5rem;
  }
}

.get-in-touch__smContact {
  display: none;
  gap: 0;
  @include responsive.respond(smallPhone) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
    bottom: 0 !important;
  }
}
