.projects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  //   transition: all 0.5s cubic-bezier(0.13, 0.39, 0.71, 0.91);
  transform-origin: bottom;

  &--active {
    .projects__content {
      opacity: 1;
    }
  }

  &__body {
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  }

  &__content {
    padding: 5rem;
    min-height: 200vh;
    position: relative;
    opacity: 0;
    overflow: visible; /* Avoid double scrollbars */
    transition: opacity 0.5s ease-in-out;
  }

  &__title {
    font-size: 10rem;
    font-weight: 500;
    color: white;
    animation: fadeIn2 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    list-style: none;
    margin: 4rem 0;

    & li {
      color: rgb(255, 255, 255);
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;

      &.active {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }
    }
  }

  &-show {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    &-item {
      width: 100%;
      height: 30rem;
      transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
      background-color: burlywood;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(100vh);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
