@use "../../base/responsive";

.projects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  transform-origin: bottom;

  &--active {
    .projects__content {
      opacity: 1;
    }
  }

  &__body {
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    -webkit-overflow-scrolling: touch;
    min-height: 100vh;
  }

  &__content {
    padding: 5rem;
    position: relative;
    opacity: 0;
    overflow: visible;
    transition: opacity 0.5s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;

    @media (max-width: 1200px) {
      padding: 4rem;
      min-height: 150vh;
    }

    @media (max-width: 992px) {
      padding: 3rem;
      min-height: 120vh;
    }

    @media (max-width: 768px) {
      padding: 2rem;
      min-height: 100vh;
    }

    @media (max-width: 576px) {
      padding: 1rem;
      min-height: 80vh;
    }
  }

  &__title {
    font-size: 10rem;
    font-weight: 500;
    color: white;
    animation: fadeIn2 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;

    @media (max-width: 1200px) {
      font-size: 8rem;
    }

    @media (max-width: 992px) {
      font-size: 6rem;
    }

    @media (max-width: 768px) {
      font-size: 4rem;
    }

    @media (max-width: 576px) {
      font-size: 3rem;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    list-style: none;
    margin: 4rem 0;

    & li {
      color: rgb(255, 255, 255);
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;

      &.active {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }
    }
  }

  &-show {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    @media (max-width: 1704px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;
    }
    @media (max-width: 1523px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 1rem;
    }
    @media (max-width: 1344px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
    }
    @media (max-width: 1240px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 1rem;
    }
    @media (max-width: 1108px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1rem;
    }

    @media (max-width: 881px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 1rem;
    }
    &-item {
      width: 100%;
      height: fit-content;
      transition: transform 1s cubic-bezier(0, 1.08, 0.69, 0.97);
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(100vh);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
